#directory-name {
  color: white;
  font-size: 2rem;
  letter-spacing: 2;
}

#directory-contents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  box-sizing: border-box;
  border-radius: 0.5rem; /* adds rounded borders to overflowed cards */
  height: 100vh;
  scroll-behavior: smooth;
  grid-template-rows: repeat(3, 1fr);
  padding-right: 0.5rem;
  overflow: scroll;
}

@media (min-width: 540px) {
  #directory-contents {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 720px) {
  #directory-contents {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1080px) {
  #directory-contents {
    grid-template-columns: repeat(5, 1fr);
  }
}
